<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinejudge.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.onlinejudge.entity.Teacher">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="role" property="role" />
        <result column="class_id" property="classId" />
        <result column="create_time" property="createTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_language" property="lastLanguage" />
        <result column="last_visit_time" property="lastVisitTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, name, sex, phone, email, avatar, role, class_id, 
        create_time, last_login_time, last_language, last_visit_time
    </sql>

</mapper>
